{% extends 'base.html' %}
{% load static %}

{% block title %} 404 PageNotFound {% endblock title %}
{% block pages %}
    <li><a href="{% url 'home' %}"> Home </a></li>
    <li><a href="{% url 'episodes_list' %}">Episodes</a></li>
    <li><a href="{% url 'ova_list' %}">OVA/Movie</a></li>
    <li><a href="{% url 'screenshots_list' %}">Screenshots</a></li>
    <li><a href="{% url 'novel_list' %}">LigthNovel</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock pages %}

{% block content %}
    <main>PageNotFound</main>
    <img src="{% static 'img/404.gif' %}" width="80%" height="440px" style="margin-left: 50px">
{% endblock content %}