{% extends 'base.html' %}
{% load static %}

{% block title %} Episodes List {% endblock title %}
{% block pages %}
    <li><a href="{% url 'episodes_list' %}"> Episods </a></li>
    <li><a href="{% url 'ova_list' %}">OVA/Movie</a></li>
    <li><a href="{% url 'screenshots_list' %}">Screenshots</a></li>
    <li><a href="{% url 'novel_list' %}">LigthNovel</a></li>
    <li><a href="{% url 'home' %}">Home</a></li>
{% endblock pages %}
{% block content %}
    <main>About</main>
    <div class="row opls">
        <div class="col-lg-6">
            <a href='https://facebook.com/zahir.go' target='_blank'>
                <img class='episode' src="https://img.utdstc.com/icon/fe0/ab6/fe0ab67fa0de2b2681602db5708a076f50dd21106e0c2d38b9661875a37e235e:200">
                <p id='h1'>Za Hir</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a href='https://twitter.com/TaidaZahir' target='_blank'>
                <img class='episode' src="https://www.presse-citron.net/app/uploads/2020/06/twiiter-.jpg">
                <p id='h1'>TaidaZahir</p>
            </a>
        </div>
    </div>
{% endblock content %}