{% extends 'base.html' %}

{% block title %} Episodes List {% endblock title %}
{% block pages %}
    <li><a href="{% url 'home' %}"> Home </a></li>
    <li><a href="{% url 'ova_list' %}">OVA/Movie</a></li>
    <li><a href="{% url 'screenshots_list' %}">Screenshots</a></li>
    <li><a href="{% url 'novel_list' %}">LigthNovel</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock pages %}
{% block content %}
    <main>Re:Zero S2 حلقات</main>    
        <div class="opls">
            {% for ep in episodes %}
                {% if ep.AnimeOrOVA == 'anime' %}
                    {% if ep.newRow %}
                        <div class="row">
                    {% endif %}
                    <div class="col-lg-4">
                        <a href="{% url 'episodes_detail' ep.pk %}">
                            <img class="episode" src="{{ ep.thumb }}">
                            <h3 id='h3'>{{ ep.epNum }}</h4>
                            <p id='h1'><br> {{ ep.title }} </p>
                        </a>
                    </div>
                    {% if ep.clsRow %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
{% endblock content %}