{% extends 'base.html' %}

{% block title %} {{episode.title}} {% endblock title %}
{% block pages %}
    <li><a href="{% url 'home' %}"> Home </a></li>
    <li><a href="{% url 'episodes_list' %}">Episodes</a></li>
    <li><a href="{% url 'ova_list' %}">OVA/Movie</a></li>
    <li><a href="{% url 'screenshots_list' %}">Screenshots</a></li>
    <li><a href="{% url 'novel_list' %}">LigthNovel</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock pages %}
{% block content %}
    <main>{{ episode.title }}</main>
    <div class='lang'>
        <button id='ar' onclick="GetAR()">AR</button>
        <button id='en' onclick="GetEN()">EN</button>
    </div>
    <iframe id='lang' src="{{ episode.AREpisode }}" allowfullscreen frameborder="0">
    </iframe>
    <script>
        function GetAR() {
            document.getElementById('lang').src = "{{ episode.AREpisode }}";
        };
        function GetEN() {
            document.getElementById('lang').src = "{{ episode.ENEpisode }}";
        }
    </script>
{% endblock content %}