{% extends 'base.html' %}

{% block title %} Re:Zero Kara Hajimeru Isekai Seikatsu {% endblock title %}
{% block pages %}
    <li><a href="{% url 'episodes_list' %}">Episods</a></li>
    <li><a href="{% url 'ova_list' %}">OVA/Movie</a></li>
    <li><a href="{% url 'screenshots_list' %}">Screenshots</a></li>
    <li><a href="{% url 'novel_list' %}">LigthNovel</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock pages %}
{% block content %}
    <article>
        <aside>
            <img class="terse" src="https://www.ledojomanga.com/bdd_local/upload/images/re-zero-saison-2-visuel-2.jpg">
        </aside>
        <section>
            Re:zero kara hajimeru isekai seikatsu s2 <span>:الاسم</span><br><br>
            <span>التصنيف:</span> دراما, فنتازيا, اثارة, نفسي, اكشن<br><br>
            <span>القصة:</span> بعد قضاء سوبارو على بيتيليغيوس مطران خطيئة الكسل من طائفة الساحرة<br>, وانقاذ ايميليا واهل القرية في <a href="https://ww.anime4up.com/anime/rezero-kara-hajimeru-isekai-seikatsu-shin-henshuu-ban/" target="_blank">الموسم السابق</a>, فوجئا سوبارو بسال ايميليا "من هي ريم؟.<br>.وتستمر القصة من هنا
            <br><br><span>المصدر:</span> <a href="https://witchculttranslation.com/" target="_blank">رواية</a>
            <br><br><span>عدد الحلقات:  </span> 25
        </section>
    </article>
{% endblock content %}