{% extends 'base.html' %}

{% block title %} {{ novel.title }} {% endblock title %}
{% block pages %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'episodes_list' %}">Episods</a></li>
    <li><a href="{% url 'ova_list' %}">OVA/Movie</a></li>
    <li><a href="{% url 'screenshots_list' %}">Screenshots</a></li>
    <li><a href="{% url 'novel_list' %}">LigthNovel</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock pages %}
{% block content %}
    <main> {{ novel.title }} </main>
    <iframe src="{{ novel.novel }}">
    </iframe>
{% endblock content %}