{% extends 'base.html' %}

{% block title %} Ligth Novels of Re:Zero {% endblock title %}
{% block pages %}
    <li><a href="{% url 'episodes_list' %}">Episods</a></li>
    <li><a href="{% url 'ova_list' %}">OVA/Movie</a></li>
    <li><a href="{% url 'screenshots_list' %}">Screenshots</a></li>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock pages %}
{% block content %}

    <main> Light Novel</main>    
    <div class="opls">
        {% for novel in novels%}
            {% if novel.startRow %}
                <div class="row">
            {% endif %}
            <div class="col-lg-4">
                <a href='{% url "novel_detail" novel.pk %}'>
                <img class="episode" src="{{ novel.thumb }}">
                <p id='h1'><br> {{ novel.title }} </p>
                </a>
            </div>
            {% if novel.endRow %}
                </div>
            {% endif %}
        {% endfor %}
{% endblock content %}