{% extends 'base.html' %}

{% block title %} OVAs and Movies of Re:Zero {% endblock title %}
{% block pages %}
    <li><a href="{% url 'episodes_list' %}">Episods</a></li>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'screenshots_list' %}">Screenshots</a></li>
    <li><a href="{% url 'novel_list' %}">LigthNovel</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock pages %}
{% block content %}
    <main>OVA/MOVIE</main>
    <div class="ova">
        {% for ep in episodes %}
            {% if ep.AnimeOrOVA == 'OVA' %}
                {% if ep.newRow %}
                    <div class="row">
                {% endif %}
                <div class="col-lg-6">
                    <a href="{% url 'episodes_detail' ep.pk %}">
                        <img class="episode" src="{{ ep.thumb }}">
                        <p id='h2'>{{ ep.title }} </p>
                    </a>
                </div>
                {% if ep.clsRow %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}