{% extends 'base.html' %}

{% block title %} Screenshots of Re:Zero {% endblock title %}
{% block pages %}
    <li><a href="{% url 'episodes_list' %}">Episods</a></li>
    <li><a href="{% url 'ova_list' %}">OVA/Movie</a></li>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'novel_list' %}">LigthNovel</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock pages %}
{% block content %}
    <main>re:zero screenshots</main>
    <div class="opls">
        {% for screenshot in screenshots %}

            <img id='screenshot' src="{{ screenshot.screenshot }}">
            <h2 id='title' >{{ screenshot.title }}</h2>
            <hr>
        {% endfor %}
    </div>
{% endblock content %}