body{
    background-image: url("../img/background.110f33128e42.jpg");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden    
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(74, 35, 108, 0.72); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(74, 35, 108); 
}

.title {
    height: 150px; width: 400px; margin-left: 35%
}

nav {
    float: right;
    margin-top: 30px;
    text-align: center
}

ul {
    width: 100px; margin-right: 50px;
    font-family: fantasy; font-size: 25px;
}
ul li {
    display: inline-block;
    border-style: solid dotted ridge;
    border-color: #9450ce;
    border-width: 2px 0 10px; /*top rigth bottom left*/
    border-top-left-radius: 30px; border-bottom-left-radius: 30px;
    width: 130px;
    background-color: rgba(156, 73, 186, 0.2);
    color: black;
    padding-left: 15px;
    margin-left: 13px; margin-bottom: 20px
}

ul a {
    color: rgb(24, 9, 28);
}

ul a:hover {
    text-decoration: none;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #264f69
}

.terse {
    width: 400px; height: 500px;
    border: purple solid 3px;
    border-top-left-radius: 30px;
    margin-top: -16px;
}

section {
    background: rgba(0, 0, 0, 0.63);
    border-radius: 30px;
    padding: 70px 15px 70px 15px;
    text-align: right;
    margin: -450px 165px;
    color: rgba(61, 227, 21, 0.97);
    font-size: 18px;
    font-family: cursive
}

section a{
    color: rgba(60, 155, 37, 0.97);
    font-size: 18px;
    font-family: cursive;
    text-decoration: none;
}

section a:hover{
    text-decoration: underline;
    color: white;
    letter-spacing: -1px;
}

span {
    background-color: rgba(151, 73, 219, 0.34);
    padding: 0px 5px;
    color: rgb(0, 0, 0);
    border-radius: 0px 10px 10px 0px;
}

main {
    margin-top: -20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    background: rgba(0, 0, 0, 0.63);
}

.sidbar {
    right: 4px;
    margin-top: 30px; margin-right: 102px;
    position: fixed
}
.sidbar li {
    padding-right: 200px;

}

.row {
    margin: 30px 0;
}

.episode {
    width: 300px; height: 400px; display: inline-block;
    font-size: 10px;
    border: #a04ea7 solid 1px; border-top-right-radius: 50px;
    box-shadow: 2px -2px 3px 3px purple;
}

#h1 {
    position: absolute;
    color: transparent;
    text-align: center;
    margin: -398px 0px 0px 0px;
    padding: 172px 130px 172px 140px;
}

#h3 {
    position: absolute;
    text-align: center;
    color: rgba(101, 16, 104, 0.7);
    font-size: 100px;
    margin: -390px 0px 0px 0px;
    padding: 171px 140px 172px 140px;
    padding-top: 150px; padding-left: 120px;
}

#h1:hover {
    background: rgba(0, 0, 0, 0.51);
    color: wheat;
    position: absolute;
    width: 300px; height: 400px;
    font-size: 30px;
    margin: -398px 0px 0px 0px;
    padding: 172px 140px 172px 140px;
    padding-top:20px; padding-left: 0;
    border-top-right-radius: 50px;
    content: "add";
}

h4 {
    position: absolute;
    top: 2%; right: 127px;
    border-top-right-radius: 50px;
    padding: 190px 20px 200px;
    color:black
}

h4:hover {
    color: white;
    background: rgba(0, 0, 0, 0.18);
}
.ova {
    background-color: rgba(0, 0, 0, 0.18);
    width: 88%; padding: 5px;
    border: 5px solid rgba(128, 0, 128, 0.274);
    box-shadow: 3px 3px 1px 1px rgba(151, 73, 219, 0.34);
    border-top: 0;
    border-radius: 20px;
    margin-left: 5px;
}
.ova img {
    width: 300px; margin-left: 100px; margin-top: 10px;
    border: rgba(44, 166, 255, 0.56) ridge 5px;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 255, 0.43);
    border-top-right-radius: 50px
}

.opls {
    overflow-y: visible;
    z-index: 1001;
    width: 88%;
    background: rgba(0, 0, 0, 0.32);
    margin-left: 5px; padding: 1px;
    border-bottom-left-radius: 30px; border-bottom-right-radius: 30px

}

hr {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 4px 0px whitesmoke;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#screenshot {
    border: 5px solid rgba(101, 16, 104, 0.637);
    box-shadow: 1px 1px 4px 2px rgba(101, 16, 104, 0.6);
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 90%;
    /* margin-left: 30%; */
}

#screenshot:hover {
    border: 4px solid rgba(101, 16, 104, 0.5);
    border-radius: 6px;
}

#title {
    color: rgb(180, 29, 226);
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-top-right-radius: 10px;
    width: fit-content;
    box-shadow: 2px -2px 4px 2px white;
    display: inline;
    padding: 2px 20px;
    /* margin-left: 30%; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

#h2 {
    position: absolute;
    color: transparent;
    text-align: center;
    margin: -398px 0px 0px 0px;
    padding: 172px 130px 172px 140px;
}

#h2:hover {
    background: rgba(0, 0, 0, 0.51);
    color: wheat;
    position: absolute;
    width: 300px; height: 400px;
    font-size: 30px;
    margin: -398px 0px 0px 0px;
    padding: 172px 140px 172px 140px;
    padding-top: 50px; margin-left: 100px;
    border-top-right-radius: 50px;
    content: "add";
}


iframe {
    font-size: 20px;
    color: rgba(85, 208, 21, 0.79); background-color: rgba(174, 152, 190, 0.36);
    border: 5px solid rgba(55, 3, 59, 0.67);
    border-top: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 80px; text-align: center;
    width: 88%; height: 600px;
    box-shadow: 3px 3px 2px 1px black;
    }

button {
    position: absolute;
    font-size: 30px;
    background-color: black;
    border: 3px solid rgb(248, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    border-radius: 5px;
    border-top: 0;
}

#en {
    margin-left: 55px
}